<form id="profile-edit-form">
  <h2>Group Details</h2>
    <div class="form-group">
    <label for="name">Name:</label>
    <textarea id="name" name="name">{{name}}</textarea>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <textarea id="email" name="email">{{email}}</textarea>
  </div>
  <div class="form-group">
    <label for="bio">Bio:</label>
    <input id="bio" name="bio" value="{{bio}}">
  </div>
  
  <button id="add-member1-btn" onclick="toggleMemberFields('member1')">Add Member 1</button>

<div id="member1-fields" class="member-fields">
  <div class="form-group">
    <p>Member 1:</p>
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" value="{{firstName}}">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastName" value="{{lastName}}">
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input id="age" name="age" value="{{age}}">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" name="email" value="{{email}}">
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label>
    <input id="gender" name="gender" value="{{gender}}">
  </div>
</div>

<button id="add-member2-btn" onclick="toggleMemberFields('member2')">Add Member 2</button>

<div id="member2-fields" class="member-fields">
    <p>Member 2:</p>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" value="{{firstName}}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" value="{{lastName}}">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input id="age" name="age" value="{{age}}">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" value="{{email}}">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input id="gender" name="gender" value="{{gender}}">
      </div>
</div>

<button id="add-member3-btn" onclick="toggleMemberFields('member3')">Add Member 3</button>

<div id="member3-fields" class="member-fields">
    <p>Member 3:</p>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" value="{{firstName}}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" value="{{lastName}}">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input id="age" name="age" value="{{age}}">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" value="{{email}}">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input id="gender" name="gender" value="{{gender}}">
      </div>
</div>

<button id="add-member4-btn" onclick="toggleMemberFields('member4')">Add Member 4</button>

<div id="member4-fields" class="member-fields">
    <p>Member 4:</p>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" value="{{firstName}}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" value="{{lastName}}">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input id="age" name="age" value="{{age}}">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" value="{{email}}">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input id="gender" name="gender" value="{{gender}}">
      </div>
</div>
  
  


  <div class="form-group">
    <label for="profile_picture">Profile Picture:</label>
    <input type="file" id="profile_picture" name="profile_picture">
  </div>

  <h2>Group Preferences</h2>
    <div class="form-group">
    <label for="looking_forBHK">Looking For Number of BHK:</label>
    <textarea id="looking_forBHK" name="looking_forBHK">{{looking_forBHK}}</textarea>
  </div>
  <div class="form-group">
    <label for="zipcode">Zipcode:</label> 
    <textarea id="zipcode" name="zipcode">{{zipcode}}</textarea>
  </div>
  <div class="form-group">
    <label for="food_choices">Food Choices:</label>
    <textarea id="food_choices" name="food_choices">{{food_choices}}</textarea>
  </div>
  <div class="form-group">
    <label for="profession">Profession:</label>
    <textarea id="profession" name="profession">{{profession}}</textarea>
  </div>
  <div class="form-group">
    <label for="ages_between">Ages between:</label>
    <textarea id="ages_between" name="ages_between">{{ages_between}}</textarea>
  </div>
  <div class="form-group">
    <label for="lifestyle_preferences">Lifestyle Preferences:</label>
    <input  id="lifestyle_preferences" name="lifestyle_preferences" value="{{lifestyle_preferences}}">
  </div>
  <div class="form-group">
    <label for="looking_for_accommodation">Looking for Accommodation:</label>
    <input  id="looking_for_accommodation" name="looking_for_accommodation" value="{{looking_for_accommodation}}">
  </div>

  <button type="submit" class="btn">Update</button>
  <button type="button" id="cancel-btn" class="btn">Cancel</button>
</form>

