<form id="profile-edit-form">
    <div class="exp-img">
      <img src="{{user.profile_picture}}" alt="" class="exp-pro-img">
    </div>
  <h2>Group Details</h2>
    <div class="form-group">
    <label for="name">Name:</label>
    <textarea id="name" name="name">{{user.name}}</textarea>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <textarea id="email" name="email">{{user.email}}</textarea>
  </div>
  <div class="form-group">
    <label for="bio">Bio:</label>
    <input id="bio" name="bio" value="{{user.bio}}">
  </div>

  <div class="form-group">
    <label for="profile_picture">Profile Picture:</label>
    <input type="file" id="profile_picture" name="profile_picture">
  </div>

<h2>Group Preferences</h2>
    <div class="form-group">
      <label for="looking_forBHK">Looking For Number of BHK:</label>
      <textarea id="looking_forBHK" name="looking_forBHK">{{user.preferences.looking_forBHK}}</textarea>
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode:</label>
      <textarea id="zipcode" name="zipcode">{{user.preferences.zipcode}}</textarea>
    </div>
    <div class="form-group">
      <label for="food_choices">Food Choices:</label>
      <input type="radio" id="vegetarian" name="food_choices" value="vegetarian" {{#if (eq user.preferences.food_choices 'vegetarian')}} checked {{/if}}>
      <label for="vegetarian">Vegetarian</label>
      <input type="radio" id="non-vegetarian" name="food_choices" value="non-vegetarian" {{#if (eq user.preferences.food_choices 'non-vegetarian')}} checked {{/if}}>
      <label for="non-vegetarian">Non-Vegetarian</label>
    </div>
    <div class="form-group">
      <label for="profession">Profession:</label>
      <input type="radio" id="student" name="profession" value="student" {{#if (eq user.preferences.profession 'student')}} checked {{/if}}>
      <label for="student">Student</label>
      <input type="radio" id="working" name="profession" value="working" {{#if (eq user.preferences.profession 'working')}} checked {{/if}}>
      <label for="working">Working</label>
    </div>
  <div class="form-group">
    <label for="age-range">Age Range:</label>
    <input type="number" id="min-age" name="ages_between[0]" placeholder="Min Age" value="{{#if user.preferences.ages_between}}{{get user.preferences.ages_between 0}}{{/if}}">
    <input type="number" id="max-age" name="ages_between[1]" placeholder="Max Age" value="{{#if user.preferences.ages_between}}{{get user.preferences.ages_between 1}}{{/if}}">
  </div>
  <div class="form-group">
    <label for="lifestyle_preferences">Lifestyle Preferences:</label>
    <input type="checkbox" id="Drinking" name="lifestyle_preferences" value="Drinking" {{#if (includes user.preferences.lifestyle_preferences 'Drinking')}}checked{{/if}}>
    <label for="Drinking">Drinking</label>
    <input type="checkbox" id="Smoking" name="lifestyle_preferences" value="Smoking" {{#if (includes user.preferences.lifestyle_preferences 'Smoking')}}checked{{/if}}>
    <label for="Smoking">Smoking</label>
    <input type="checkbox" id="Pets" name="lifestyle_preferences" value="Pets" {{#if (includes user.preferences.lifestyle_preferences 'Pets')}}checked{{/if}}>
    <label for="Pets">Pets</label>
    <input type="checkbox" id="Cleanliness" name="lifestyle_preferences" value="Cleanliness" {{#if (includes user.preferences.lifestyle_preferences 'Cleanliness')}}checked{{/if}}>
    <label for="Cleanliness">Cleanliness</label>
  </div>
    <div class="form-group">
      <label for="budget">Budget:</label>
      <input type="number" id="budget" name="budget" value="{{user.preferences.budget}}">
    </div>
  <h2>Group Members</h2>
  {{#each user.members}}
    <div class="member">
      <p>First Name: {{firstName}}</p>
      <p>Last Name: {{lastName}}</p>
      <p>Age: {{age}}</p>
      <p>Email: {{email}}</p>
      <p>Gender: {{gender}}</p><br>
    </div>
  {{/each}}
  <button type="submit" class="btn">Update</button>
  <button type="button" id="cancel-btn" class="btn">Cancel</button>
</form>

